#!/usr/bin/env bash

ARG0="${BASH_SOURCE[0]:-"$0"}"
HERE="$(cd "$(dirname -- "$ARG0")" && pwd)"

DIRENV_WARN_TIMEOUT="999s"
WORKSPACE_ROOT="${HERE:="$PWD"}"

LOG_DIR="$WORKSPACE_ROOT/_meta/log"
SCRIPTS_DIR="$WORKSPACE_ROOT/_meta/scripts"

# shellcheck source=/dev/null
if [ -s "$WORKSPACE_ROOT/.env" ]; then
  source "$WORKSPACE_ROOT/.env"
fi

export DIRENV_WARN_TIMEOUT WORKSPACE_ROOT LOG_DIR SCRIPTS_DIR

if command -v "devenv" >/dev/null 2>&1; then
  eval "$(devenv direnvrc)"
  use devenv --quiet
fi

unset ARG0 HERE
