site_name: typed-sentinels
site_description: Statically-typed sentinel objects for Python 3.9+.
site_url: https://typed-sentinels.blockmage.dev

repo_name: blockmage/typed_sentinels
repo_url: https://github.com/blockmage/typed_sentinels

nav:
  - Home: index.md
  - API Reference: reference/index.md

theme:
  name: material

  features:
    - navigation.sections
    - navigation.instant
    - navigation.tracking
    - navigation.expand
    - navigation.indexes

    - search.highlight
    - search.share

    - content.code.copy
    - content.code.annotate

  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

markdown_extensions:
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences

  - toc:
      permalink: true

  - pymdownx.tabbed:
      alternate_style: true

  - pymdownx.tasklist:
      custom_checkbox: true

  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: false

plugins:
  - privacy
  - search
  - section-index

  - gen-files:
      scripts:
        - scripts/gen_ref_pages.py

  - literate-nav:
      nav_file: SUMMARY.md

  - mkdocstrings:
      handlers:
        python:
          inventories:
            - https://docs.python.org/3/objects.inv

          options:
            docstring_style: numpy
            heading_level: 2
            members_order: source
            merge_init_into_class: true
            separate_signature: true

            show_category_heading: true
            show_if_no_docstring: true
            show_root_heading: true
            show_root_toc_entry: true
            show_signature_annotations: true
            show_source: true
            show_symbol_type_heading: true
            show_symbol_type_toc: true

            filters: ["!^_[^_]"]
